---
import ThemeToggle from '@/components/ui/ThemeToggle.astro'
import MenuDropdown from '@/components/ui/MenuDropdown.astro'
import Code from 'phosphor-astro/Code.astro'
---

<div class="top-banner">
  <p>STOP THE GENOCIDE ! LET GAZA LIVE !</p>
</div>

<header>
  <nav>
    <a href="/" title="Home"><Code width={24} height={24} /></a>
    <div class="right-section">
      <MenuDropdown />
      <ThemeToggle />
    </div>
  </nav>
</header>

<style>
  .top-banner {
    background-color: #98fb98;
    color: #006400;
    font-weight: 600;
    text-align: center;
    padding: 2px 0;
    font-size: 1.0625rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  header {
    margin-top: 15px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header a {
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    text-decoration: none;
    min-width: 2rem;
    display: inline-block;
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
