---
import { themeConfig } from '@/config'
import ThemeToggle from '@/components/ui/ThemeToggle.astro'
import EnvelopeSimple from 'phosphor-astro/EnvelopeSimple.astro'
import GlobeSimple from 'phosphor-astro/GlobeSimple.astro'
import User from 'phosphor-astro/User.astro'
import Notebook from 'phosphor-astro/Notebook.astro'
import Peace from 'phosphor-astro/Peace.astro'
---

<!-- Top banner -->
<div class="top-banner">
  <p><Peace width={20} height={20} /> Stop Israel's genocide in Gaza! <Peace width={20} height={20} /></p>
</div>

<header>
  <nav>
    <a href="/" title="Blog"><Notebook width={24} height={24} /></a>
    <div class="right-section">
      <p></p>
      <a href="/newsletter" title="Newsletter"><EnvelopeSimple width={24} height={24} /></a>
      <a href="https://hopp.bio/junbo-le" title="Social" target="_blank" rel="noopener noreferrer"><GlobeSimple width={24} height={24} /></a>
      <a href="/now" title="Now"><User width={24} height={24} /></a>
      <ThemeToggle />
    </div>
  </nav>
</header>

<style>
  .top-banner {
    background-color: #98FB98;
    color: #006400;
    font-weight: 600;
    text-align: center;
    padding: 2px 0;   /* 减小上下 padding */
    font-size: 1.0625rem;  /* 调小字体 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }


  header {
    margin-top: 15px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header a {
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    text-decoration: none;
    min-width: 2rem;
    display: inline-block;
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>